#!/usr/bin/env bash
echo "COMPOSER INSTALL"
chown -R vagrant:www .
php70 /usr/local/bin/composer install
if [ $# -gt 0 ] && [ $1 == "--full" ]
                 then
                 CLEAN_UP_DB="--cleanup-database"
                 echo "MAGENTO FULL INSTALL"
                 php70 bin/magento setup:install --admin-firstname=Piotr --admin-lastname=Budner --admin-email=piotr.budner@gmail.com --admin-user=admin --admin-password=admin123 --base-url=http://magento2ce.dev --db-host=127.0.0.1 --db-name=magento --db-user=magento --db-password=qwerty --use-rewrites=1 --use-secure=0 --use-secure-admin=0 --admin-use-security-key=0 --session-save=db $CLEAN_UP_DB -vv

                 echo "SET OWNERSHIP AND PERMISSIONS"
                 chown -R vagrant:www .
find . -type d -exec chmod 775 {} \; && sudo find . -type f -exec chmod 664 {} \; && sudo chmod u+x bin/magento
find ./var -type d -exec chmod 777 {} \;
find ./pub/media -type d -exec chmod 777 {} \;
find ./pub/static -type d -exec chmod 777 {} \;
chmod 777 ./app/etc
chcon -R -t httpd_sys_content_t .

# needed to run Code Sniffer and Mess Detector
chmod 764 ./vendor/squizlabs/php_codesniffer/scripts/phpcs
chmod 764 ./vendor/phpmd/phpmd/src/bin/phpmd

# needed to run PHPUnit from commad line
chmod 764 ./vendor/phpunit/phpunit/phpunit
else
echo "MAGENTO INSTALL/UPDATE"

php70 bin/magento setup:upgrade
fi
php70 bin/magento setup:di:compile
php70 bin/magento setup:static-content:deploy
php70 bin/magento cache:flush
sudo chown -R vagrant:www .

